<div class="content-columns">
    <div class="col">
        <div class="item">Macky Sall</div>
        <div class="item"><img style="width: 100%" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQpxaH0ATki3OsbfTNk65CsCc11WjK6yYN1vTBEPM0cNczyFuaAPdmcC6DbacTGQ21jDr41kh5fOaRycjg" alt="Macky Sall"></div>
        <div class="item"><strong>Parti : </strong>République des Valeurs</div>
        <div class="item"><strong>Slogan : </strong>Pour un Sénégal de tous</div>
        <div class="item"><strong>Programme : </strong>Progresser ensemble, lutter contre les inégalités.</div>
        <div class="item"><strong>Vision : </strong>Un Sénégal uni et solidaire, dans un environnement de paix et de prospérité.</div>
    </div>
    <div class="col">
        <div class="item">Macky Sall</div>
        <div class="item"><img style="width: 100%" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQpxaH0ATki3OsbfTNk65CsCc11WjK6yYN1vTBEPM0cNczyFuaAPdmcC6DbacTGQ21jDr41kh5fOaRycjg" alt="Macky Sall"></div>
        <div class="item"><strong>Parti : </strong>République des Valeurs</div>
        <div class="item"><strong>Slogan : </strong>Pour un Sénégal de tous</div>
        <div class="item"><strong>Programme : </strong>Progresser ensemble, lutter contre les inégalités.</div>
        <div class="item"><strong>Vision : </strong>Un Sénégal uni et solidaire, dans un environnement de paix et de prospérité.</div>
    </div>
    <div class="col">
        <div class="item">Macky Sall</div>
        <div class="item"><img style="width: 100%" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQpxaH0ATki3OsbfTNk65CsCc11WjK6yYN1vTBEPM0cNczyFuaAPdmcC6DbacTGQ21jDr41kh5fOaRycjg" alt="Macky Sall"></div>
        <div class="item"><strong>Parti : </strong>République des Valeurs</div>
        <div class="item"><strong>Slogan : </strong>Pour un Sénégal de tous</div>
        <div class="item"><strong>Programme : </strong>Progresser ensemble, lutter contre les inégalités.</div>
        <div class="item"><strong>Vision : </strong>Un Sénégal uni et solidaire, dans un environnement de paix et de prospérité.</div>
    </div>
    <div class="col">
        <div class="item">Macky Sall</div>
        <div class="item"><img style="width: 100%" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQpxaH0ATki3OsbfTNk65CsCc11WjK6yYN1vTBEPM0cNczyFuaAPdmcC6DbacTGQ21jDr41kh5fOaRycjg" alt="Macky Sall"></div>
        <div class="item"><strong>Parti : </strong>République des Valeurs</div>
        <div class="item"><strong>Slogan : </strong>Pour un Sénégal de tous</div>
        <div class="item"><strong>Programme : </strong>Progresser ensemble, lutter contre les inégalités.</div>
        <div class="item"><strong>Vision : </strong>Un Sénégal uni et solidaire, dans un environnement de paix et de prospérité.</div>
    </div>

</div>